# Игнорирование IDE и системных файлов
.vscode/
.idea/
*.log

# Игнорирование бинарников и временных файлов
bin/
*.exe
*.bak
*.tmp

# Игнорирование локальных баз данных
*.db
*.db.bak

# Кэш Go
vendor/
